@page
@model AboutUsModel
@{
    ViewData["Title"] = "AboutUs";
}
    <h1>@ViewData["Title"]</h1>

<p>You can contact us for more updates about covid-19.</p>

<br />
<br />
<a href="https://localhost:44373/News" title="News">News</a>
<br />
<br />
<a href="https://localhost:44373/Forums" title="Forums">Forums</a>
<br />
<br />
<a href="https://localhost:44373/Accounts" title="Accounts">Accounts</a>
<br />
<br />
<a href="https://localhost:44373/Index" title="Index">Index</a>