@page
@model AccountsModel
@{
    ViewData["Title"] = "Accounts";
}
    <h1>@ViewData["Title"]</h1>

<p>You can send donations here for covid-19 patients.</p>

<br />
<br />
<a href="https://localhost:44373/News" title="News">News</a>
<br />
<br />
<a href="https://localhost:44373/Forums" title="Forums">Forums</a>
<br />
<br />
<a href="https://localhost:44373/Index" title="Index">Index</a>
<br />
<br />
<a href="https://localhost:44373/AboutUs" title="AboutUs">AboutUs</a>