@page
@model ForumsModel
@{
    ViewData["Title"] = "Forums";
}
<h1>@ViewData["Title"]</h1>

<p>How to prevent covid-19?</p>
<br />
<br />
<a href="https://localhost:44373/News" title="News">News</a>
<br />
<br />
<a href="https://localhost:44373/Index" title="Index">Index</a>
<br />
<br />
<a href="https://localhost:44373/Accounts" title="Accounts">Accounts</a>
<br />
<br />
<a href="https://localhost:44373/AboutUs" title="AboutUs">AboutUs</a>